@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        top: -25%;
        left: -0.4%;
        border-radius: 100%;
        background: $main-color;
        z-index: -1;
    }
}