.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    &_fz12 {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
    &_fz14 {
        font-size: 14px;
        line-height: 21px;
        font-weight: 700;
    }
    &_fz16 {
        font-size: 16px;
        line-height: 24px;
    }
    &_fz20{
        font-size: 20px;
        line-height: 30px;
    }
    &_fz36 {
        font-size: 36px;
        line-height: 30px;
    }
    &_fz64 {
        font-size: 64px;
        line-height: 60px;
    }
}